html, body {
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    align-items: center;
    background-color: #011830;
    color: white;
    text-align: center;
    justify-content: space-between;
    padding: 13px;
}

.logo img {
    width: 150px;
    height: auto;
    border-radius: 10px;

}

button#myBtn {
    margin-left: auto;
    color: black;
    background-color: white;
    font-size: 12px;
    font-weight: 900;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
}


.backdrop {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ffffe6;
    width: 30%;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 16px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    opacity: 0.8;
}

.secondary-section {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
    width: 100%;
}

.secondary-section .content {
    flex: 1;
    padding: 0 20px;
}

.secondary-section h2 {
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin-left: 200px;
}

.secondary-section p {
    font-size: 40px;
    color: white;
    margin-left: 200px;
}

.secondary-section .image-container img {
    max-width: 70%;
    border-radius: 10%;
}


body {
    background-color: black;
    text-align: center;
}

.carousel-container {
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: black;
    .carousel {
        width: 100%;
        position: relative;
        overflow: hidden;
        color: black;
        .item {
            opacity: 0;
            width: 100%;
            height: 100%;
            display: none;
            transition: opacity 0.5s ease-in-out;
            background-color: black;
            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                background-color: black;
                border-radius: 10px;
            }
            .caption {
                width: 100%;
                position: absolute;
                bottom: 0;
                text-transform: uppercase;
                text-align: center;
                font-size: 12px;
                background-color: black;
            }
            &.active {
                opacity: 1;
                display: block;
            }
        }
    }
    .btn {
        padding: 1em 2em;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        outline: none;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;
        color: black;
        background-color: #ffffe6;
        transition: transform 0.2s ease-in-out;
        border-radius: 10px;
        &:active,
        &:focus {
            transform: translateY(-50%) scale(0.9);
        }
        &:hover {
            transform: translateY(-50%) scale(0.96);
        }
    }
    .prev {
        left: -5%;
    }
    .next {
        right: -5%;
    }
    .dots {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .dot {
            cursor: pointer;
            height: 10px;
            width: 10px;
            background-color: #242421;
            transition: background-color 0.2s ease;
            border-radius: 15px;
            &.active,
            &:hover {
                background-color: #ffffe6;
            }
        }
    }
}

main {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.service-heading- {
    color: white;
    text-align: center;
    background-color: black;
}

.service-card {
    color: white;
}

.services-container {
    display: flex;
}

.service-card {
    border: solid 2px white;
    width: 900px;
    padding: 12px;
    border-radius: 10px;
    height: 200px;
    margin: 20px;
    box-shadow: 5px 10px;
}

.service-heading  {
    background-color: black;
    text-align: center;
}

.google-map {
    height: 500px;
    position: relative;
}
.location{
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 80%;
    padding-top: 100px;
    align-items: flex-end;
    margin: 0 auto;
}
.location-frame{
    background-color: black;
    border-radius: 20px;
    color: #FFFAFA;
    padding: 10px 40px
}
.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
}

.sixth-section .text-container {
    color: white;
}



.sixth-section {
    background-color: black;
    padding: 50px 0;
}
.sixth-section .contact-info {
    text-align:  center;
    color: white;
}

.sixth-section .contact-form {
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
}
.sixth-sectionh2 {
    font-size: 24px;
    margin-right: 100px;
}
.sixth-section p {
    font-size: 16px;
}
.sixth-section .form-group {
    margin-bottom: 20px;
}
.sixth-section .form-group label {
    display: block;
}
.sixth-section input[type="text"],
.sixth-section input[type="email"],
.sixth-section textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}
.sixth-section button[type="submit"] {
    background-color: #ffffe6;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.sixth-section button[type="submit"]:hover {
    background-color: #242A2E;
}


.sixth-section .form-row {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.sixth-section .form-row label {
    display: block;
    margin-bottom: 5px;
}

.sixth-section .form-row input,
.sixth-section .form-row textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.sixth-section.form-row button {
    width: 100%;
    padding: 10px;
    background-color:  #ffffe6;
    color: black;
    border: none;
    cursor: pointer;
}

.sixth-section .form-row button:hover {
    background-color: grey;
}
